DB_NAME = <DB_NAME>
DB_USER = <DB_USER>
DB_PASSWORD = <DB_PASSWORD>
DB_HOST = <DB_HOST>
DB_PORT = <DB_PORT>
AD_SERVER = <AD_SERVER>
AD_USER = <AD_USER>
AD_PASSWORD = <AD_PASSWORD>
AD_BASE_DN = <AD_BASE_DN>
