dbname = <DB_NAME>
user = <DB_USER>
password = <DB_PASSWORD>
host = <DB_HOST>
DB_NAME = <DB_NAME>
DB_USER = <DB_USER>
DB_PASSWORD = <DB_PASSWORD>
DB_HOST = <DB_HOST>
DB_PORT = <DB_PORT>
ad_server = <AD_SERVER>
ad_user = <AD_USER>
ad_password = <AD_PASSWORD>
ad_base_dn = <AD_BASE_DN>