@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
/* -----------------------------------------------------
  Body
-------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    color: #646360;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #eee;
  }
  
  *, *::after, *::before {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    color: #03a9f4;
    outline: none;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    z-index: 1001;
  }
  
  /* For Typography */
  .ul-base {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* -----------------------------------------------------
  Clearfix
  -------------------------------------------------------- */
  .clearfix {
    zoom: 1;
  }
  .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  .hidden {display:none}
  /* -----------------------------------------------------
     Header
  -------------------------------------------------------- */
  header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 998;
  }
  header .header-inner {
    width: 100%;
    height: 64px;
    color: #fff;
    padding: 0 20px;
    background-color: #87CEFA;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  }
  header .header-logo {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding: 21px 108px 21px 5px;
  }
  header .header-logo img {
    display: block;
    max-height: 21px;
    vertical-align: middle;
  }
  header .header-search {
    float: left;
    display: block;
    position: relative;
    width: calc(100% - 820px);
    height: 64px;
    margin: 0 auto;
    padding: 10px 0;
  }
  header .header-search .search {
    display: block;
    position: relative;
    width: calc(80%);
    margin: 0 auto;
  }
  header .header-search .search input:focus::placeholder{
    color: transparent;
  }
  header .header-search button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 44px;
    height: 44px;
    border: none;
    background: #F0F8FF;
    border-radius: 100%;
    cursor: pointer;
  }
  header .feedback-button{
    position: relative;
    top: 0;
    right: 0px;
    width: 203px;
    height: 45px;
    border: 1px solid #003F4E;
    background: #7FC7FF;
    border-radius: 26.5px;
    cursor: pointer;
    padding: 10px;
    margin-right: 50px;
  }
  header .feedback-button:hover{
    background: #87cefa;
  }
  header .help-button{
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0px;
    width: 32px;
    height: 32px;
    border: 1px solid #003F4E;
    background: #A6CAF0;
    border-radius: 26.5px;
    cursor: pointer;
    margin: 13px 5px 0 0 ;
  }
  header .help-button-bg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #7FC7FF;
    margin-top: 8px;
  }
  header .help-button-bg:hover{
    background-color: #4db2ff;
  }
  header .help-button:hover{
    background-color: #9aceeb;
  }
  header .login-button{
    border-right: 1px solid #6699CC;
    display: block;
  }
  header .profile{
    display: none;
    flex-wrap: wrap;
    text-align: center;
    color: #003F4E;
    border-right: 1px solid #6699CC;
    cursor: pointer;
  }
  header .profile-name{
    padding-right: 10px;
    font-weight: bold;
  }
  header .avatar{
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 42px;
    margin-top: 10px;
    margin-right: 10px;
  }
  header .header-search .search input[type=search] {
    width: 100%;
    height: 44px;
    padding: 0 45px 0 15px;
    color: #003F4E;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 27.5px;
    background-color: #AFDAFC;
  }
  header .header-search .search ::-webkit-input-placeholder {
    color: #003F4E;
  }
  header .header-search .search ::-moz-placeholder {
    color: #003F4E;
  }
  header .header-search .search :-moz-placeholder {
    color: #003F4E;
  }
  header .header-search .search :-ms-input-placeholder {
    color: #003F4E;
  }
  header .header-menu {
    float: right;
  }
  header .header-menu ul {
    height: 64px;
  }
  header .header-menu ul li {
  
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 64px;
  }
  header .header-menu ul li a {
    color: #fff;
    font-size: 17px;
    padding: 25px;
  }
  header .header-menu ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  main {
    height: 100%;
    padding-top: 64px;

  }
  .menu {
    margin-top: 50px;
    float: left;
    width: 16%;
    min-height: 100vh;
  }

  .menu .ul-base,
  .menu .submenu {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu .submenu {
      display: none;
      padding-left: 20px;
  }

  .menu .has-submenu {
      position: relative;
  }

  .menu .has-submenu div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }

  .menu .has-submenu.open > .toggle-button {
      transform: rotate(180deg);
  }

  .menu .has-submenu.open > .submenu {
    display: block;
  }

  .menu-item {
    position: relative;
  }

  .menu-item:hover .settings-icon {
    display: inline-block;
  }
  #searchResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    gap: 0.5rem;
  }
  .search-card {
      display: flex;
      margin-left: 10px;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      border-radius: 23px;
      transition: background-color 0.3s, transform 0.3s;
      background-color: white;
      border: 1px solid #ddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .search-card:hover {
    background-color: #d4d4e2;
    transform: translateX(5px);
  }
  .search-card img {
      max-width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 23px;
  }
  .search-card__body {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
  }
  small {
      color: #666;
  }
  .search-card__body h3{
      font-size: 1.5rem;
      text-transform: capitalize;
  }

  .structure-title:hover .settings-icon {
    display: inline-block;
  }

  .settings-icon {
    cursor: pointer;
    max-width: 20px;
    margin-left: 5px;
    margin-top: 15px;
    transform: translateY(-50%);
    display: none;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #departmentModal {
    align-items: center;
    max-width: 650px;
  }

  #departmentModal input,textarea,select{
      display: inline-block;
      width: 500px;	
      border: none;
      border-radius: 20px;
      outline: none;
      padding: 10px;
      margin: 10px;
      font-family: 'Sniglet', cursive;
      font-size: 1em;
      color: #676767;
      transition: border 0.5s;
      -webkit-transition: border 0.5s;
      -moz-transition: border 0.5s;
      -o-transition: border 0.5s;
      border: solid 3px #98d4f3;	
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }

  #departmentModal label{
    margin: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
  }
  .departmentList{
    list-style-type: none;
  }
  #departmentModal .modal-content {
      max-height: 80vh; /* Ограничение высоты модального окна до 80% от высоты экрана */
      overflow-y: auto; /* Вертикальная прокрутка, если контент превышает максимальную высоту */
  }

  .department-list {
      max-height: 200px; /* Ограничение высоты каждого списка отделов */
      overflow-y: auto; /* Вертикальная прокрутка для списка отделов */
      margin-bottom: 20px; /* Отступ между списками */
      border: 1px solid #ccc; /* Границы для улучшения восприятия */
      padding: 10px;
      border-radius: 4px;
  }
  #departmentModal button{
      margin-top: 15px;
      margin-left: 15px;
      display: inline-block;
      border: none;
      padding: .75rem 1.25rem;
      border-radius: 27.5rem;
      color: #003F4E;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      text-align: left;
      text-transform: uppercase;
      overflow: hidden;
      background: #87CEFA;
  }
  #departmentModal button:hover{
      cursor: pointer;
  }
  #settingsModal input,textarea,select{
      width: 500px;	
      border: none;
      border-radius: 20px;
      outline: none;
      padding: 10px;
      font-family: 'Sniglet', cursive;
      font-size: 1em;
      color: #676767;
      transition: border 0.5s;
      -webkit-transition: border 0.5s;
      -moz-transition: border 0.5s;
      -o-transition: border 0.5s;
      border: solid 3px #98d4f3;	
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }
  #settingsModal button{
      margin-top: 15px;
      display: inline-block;
      border: none;
      padding: .75rem 1.25rem;
      border-radius: 27.5rem;
      color: #003F4E;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      text-align: left;
      text-transform: uppercase;
      overflow: hidden;
      background: #87CEFA;
  }
  #settingsModal button:hover{
      cursor: pointer;
  }

  .sidebar {
    width: 350px;
    color: #002F55;
    padding: 20px;
  }
  
  .sidebar ul a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  
  .sidebar ul li a {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    text-align: center; 
    color: #002F55;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .sidebar ul li img{
    margin-right: 10px;
  }

  .banners-slider {
    max-width: 800px;
    padding: 20px;
    box-sizing: content-box;
  }
  
  .banners-static {
    display: flex;
    padding: 20px;
    width: 600px;
  }
  
  .banners-static h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #002F55;
  }
  
  .banners-static span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #002F55;
  }
  
  .banner1 {
    position: relative;
    background: #87CEFA;
    border-radius: 16px;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banner1, .banner2, .banner3{
    -webkit-transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;;
    transition: width .5s ease-in-out;
    width: 30%;
  }
  
  .banner1:hover, .banner2:hover, .banner3:hover {
    background: #AFDAFC;
    cursor: pointer;
    width: 40%;
  }
  
  .banners-static .banner1 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }
  
  .banner2 {
    position: relative;
    background: #00CCFF;
    border-radius: 16px;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banners-static .banner2 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }
  
  .banner3 {
    position: relative;
    background: #0095B6;
    border-radius: 16px;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banners-static .banner3 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }

  .iframe-container {
    flex: 1;
    overflow: hidden;     
    box-sizing: border-box;
}
iframe {
    width: 80vw;
    height: 80vh;
    border: none;
    box-sizing: border-box;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    gap: 2rem;
}

.news-card img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 23px;
}

.news-card {
    display: flex;
    flex-direction: column;
    width: clamp(18rem, calc(18rem + 2vw), 20rem);
    overflow: hidden;
}
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
small {
    color: #666;
}
.card__body h3{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.news-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
#add-news-button{
    margin: 10px 30px 10px 0;
    display: inline-block;
    border: none;
    padding: .75rem 1.25rem;
    border-radius: 27.5rem;
    color: #003F4E;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-transform: uppercase;
    overflow: hidden;
    background: #87CEFA;
}
#add-news-button:hover{
    background: #AFDAFC;
    cursor: pointer;
}
.more_news_span, .more_news_span h2{
    display: flex;
    align-items: center;
    color: #FA5252; 
    font-size: 15px;
}
.more_news_span:hover, .more_news_span h2:hover{
    color: #d62d13;
    cursor: pointer;
}
/* Стили для popup окна */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    z-index: 1000;
}
#add-news-form{
    align-items: center;
}
#add-news-form label, input, textarea{
    display: block;	
}
#add-news-form textarea{
    height: 100px;
}
#add-news-form input,textarea{
    width: 500px;	
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;	
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#add-news-form button{
    margin-top: 15px;
    display: inline-block;
    border: none;
    padding: .75rem 1.25rem;
    border-radius: 27.5rem;
    color: #003F4E;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-transform: uppercase;
    overflow: hidden;
    background: #87CEFA;
}
#add-news-form button:hover{
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

  .content {
    display: flex;
  }
  @media only screen and (max-width: 1600px) {
    .banners-slider {
      max-width: 600px;
    }
    .menu {
      width: 20%;
    }
  }
  @media only screen and (max-width: 1024px) {
    header .header-categories {
      display: none;
    }
    header .header-search {
      width: calc(40%);
    }
    header .feedback-button{
      display: none;
    }
    .banners-slider {
      display: none;
    }
  }
  @media only screen and (max-width: 900px) {
    header .header-search {
      display: none;
    }
    
  }
  @media only screen and (max-width: 555px) {
    header .header-inner {
      padding: 0 12px;
      text-align: center;
    }
    header .header-logo {
      float: right;
      padding-left: 0px;
      padding-right: 0px;
    }
    header .header-menu {
      display: none;
    }
  }