@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nanum+Gothic:wght@400;700&display=swap');
/* -----------------------------------------------------
  Body
-------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    color: #646360;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #eee;
  }
  
  *, *::after, *::before {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    color: #03a9f4;
    outline: none;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    z-index: 1001;
  }
  
  /* For Typography */
  .ul-base {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* -----------------------------------------------------
  Clearfix
  -------------------------------------------------------- */
  .clearfix {
    zoom: 1;
  }
  .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  .hidden {display:none}
  /* -----------------------------------------------------
     Header
  -------------------------------------------------------- */
  header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  header .header-inner {
    width: 100%;
    height: 64px;
    color: #fff;
    padding: 0 20px;
    background-color: #87CEFA;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  }
  header .header-logo {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding: 21px 108px 21px 5px;
  }
  header .header-logo img {
    display: block;
    max-height: 21px;
    vertical-align: middle;
  }
  header .header-search {
    float: left;
    display: block;
    position: relative;
    width: calc(100% - 820px);
    height: 64px;
    margin: 0 auto;
    padding: 10px 0;
  }
  header .header-search .search {
    display: block;
    position: relative;
    width: calc(80%);
    margin: 0 auto;
  }
  header .header-search .search input:focus::placeholder{
    color: transparent;
  }
  header .header-search button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 44px;
    height: 44px;
    border: none;
    background: #F0F8FF;
    border-radius: 100%;
    cursor: pointer;
  }
  header .feedback-button{
    position: relative;
    top: 0;
    right: 0px;
    width: 203px;
    height: 45px;
    border: 1px solid #003F4E;
    background: #7FC7FF;
    border-radius: 26.5px;
    cursor: pointer;
    padding: 10px;
    margin-right: 50px;
  }
  header .feedback-button:hover{
    background: #87cefa;
  }
  header .help-button{
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0px;
    width: 32px;
    height: 32px;
    border: 1px solid #003F4E;
    background: #A6CAF0;
    border-radius: 26.5px;
    cursor: pointer;
    margin: 13px 5px 0 0 ;
  }
  header .help-button-bg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #7FC7FF;
    margin-top: 8px;
  }
  header .help-button-bg:hover{
    background-color: #4db2ff;
  }
  header .help-button:hover{
    background-color: #9aceeb;
  }
  header .login-button{
    border-right: 1px solid #6699CC;
    display: block;
  }
  header .profile{
    display: none;
    flex-wrap: wrap;
    text-align: center;
    color: #003F4E;
    border-right: 1px solid #6699CC;
    cursor: pointer;
  }
  header .profile-name{
    padding-right: 10px;
    font-weight: bold;
  }
  header .avatar{
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 42px;
    margin-top: 10px;
    margin-right: 10px;
  }
  header .header-search .search input[type=search] {
    width: 100%;
    height: 44px;
    padding: 0 45px 0 15px;
    color: #003F4E;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 27.5px;
    background-color: #AFDAFC;
  }
  header .header-search .search ::-webkit-input-placeholder {
    color: #003F4E;
  }
  header .header-search .search ::-moz-placeholder {
    color: #003F4E;
  }
  header .header-search .search :-moz-placeholder {
    color: #003F4E;
  }
  header .header-search .search :-ms-input-placeholder {
    color: #003F4E;
  }
  header .header-menu {
    float: right;
  }
  header .header-menu ul {
    height: 64px;
  }
  header .header-menu ul li {
  
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 64px;
  }
  header .header-menu ul li a {
    color: #fff;
    font-size: 17px;
    padding: 25px;
  }
  header .header-menu ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  main {
    height: 100%;
    padding-top: 64px;
    display: flex;
  }
  .sidebar {
    width: 300px;
    color: #002F55;
    padding: 20px;
  }
  
  .sidebar ul li:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  
  .sidebar ul li a {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    text-align: center; 
    color: #002F55;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .sidebar ul li img{
    margin-right: 10px;
  }

  .banners-slider {
    max-width: 800px;
    padding: 20px;
    box-sizing: content-box;
  }
  
  .banners-static {
    display: flex;
    padding: 20px;
  }
  
  .banners-static h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #002F55;
  }
  
  .banners-static span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #002F55;
  }
  
  .banner1 {
    position: relative;
    background: #87CEFA;
    border-radius: 16px;
    max-width: 30%;
    max-height: 90%;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banner1:hover, .banner2:hover, .banner3:hover {
    background: #AFDAFC;
    cursor: pointer;
  }
  
  .banners-static .banner1 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }
  
  .banner2 {
    position: relative;
    background: #87CEFA;
    border-radius: 16px;
    max-width: 30%;
    max-height: 90%;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banners-static .banner2 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }
  
  .banner3 {
    position: relative;
    background: #87CEFA;
    border-radius: 16px;
    max-width: 30%;
    max-height: 90%;
    padding: 12px;
    margin-right: 10px;
  }
  
  .banners-static .banner3 img{
    position: absolute;
    padding: 12px;
    right: 0px;
    bottom: 0px;
  }

  .content {
    display: flex;
  }
  @media only screen and (max-width: 1024px) {
    header .header-categories {
      display: none;
    }
    header .header-search {
      width: calc(40%);
    }
    header .feedback-button{
      display: none;
    }
  }
  @media only screen and (max-width: 900px) {
    header .header-search {
      display: none;
    }
    
  }
  @media only screen and (max-width: 555px) {
    header .header-inner {
      padding: 0 12px;
      text-align: center;
    }
    header .header-logo {
      float: right;
      padding-left: 0px;
      padding-right: 0px;
    }
    header .header-menu {
      display: none;
    }
  }