<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="static/itc-slider.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="static/itc-slider.js" defer></script>
    <title>Корпоративный портал</title>
    <style>
        
    </style>
</head>
<body>
    <script type="text/javascript">
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function displayUserInfo(data) {
            console.log(data);
            document.querySelector('.login-button').style.display = 'none';
            const profileDiv = document.querySelector('.profile');
            profileDiv.querySelector('.avatar').style.backgroundImage = 'url(https://avatars.yandex.net/get-yapic/' + data.default_avatar_id + '/islands-middle)';

            // Извлечение фамилии, имени и отчества
             // Извлечение фамилии, имени и отчества
            const names = data.real_name.split(' ');
            let displayName = names[2] + ' ' + names[0][0] + '.';
            if (names.length > 2) {
                displayName += names[1][0] + '.';
            }

            profileDiv.querySelector('.profile-name').textContent = displayName;
            profileDiv.style.display = 'flex';
        }

        window.onload = function() {
            var accessToken = getCookie('access_token');
            if (accessToken) {
                // Попытка получить данные из localStorage
                let cachedData = localStorage.getItem('user_info');
                let cacheTimestamp = localStorage.getItem('cache_timestamp');
                const cacheExpiry = 5 * 60 * 1000; // Кэш действителен 5 минут

                const now = new Date().getTime();

                if (cachedData && cacheTimestamp && (now - cacheTimestamp < cacheExpiry)) {
                    displayUserInfo(JSON.parse(cachedData));
                } else {
                    fetch('/user_info', {
                        headers: {
                            'Authorization': 'OAuth ' + accessToken
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error('Error fetching user info:', data.error);
                            document.querySelector('.login-button').style.display = 'block';
                            document.querySelector('.profile').style.display = 'none';
                        } else {
                            // Кэширование данных в localStorage
                            localStorage.setItem('user_info', JSON.stringify(data));
                            localStorage.setItem('cache_timestamp', now);
                            displayUserInfo(data);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching user info:', error);
                        document.querySelector('.login-button').style.display = 'block';
                        document.querySelector('.profile').style.display = 'none';
                    });
                }
            } else {
                document.querySelector('.login-button').style.display = 'block';
                document.querySelector('.profile').style.display = 'none';
            }
        }

        function Login() {
            window.location.href = "https://oauth.yandex.ru/authorize?response_type=code&client_id=b18e232b89424dd7ae7b4d65cab1e070";
        }

        function Logout() {
            document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            localStorage.removeItem('user_info');
            localStorage.removeItem('cache_timestamp');
            window.location.reload();
        }
    </script>
    <!-- Top navigation bar -->
    <header>
        <div class="header-inner clearfix">
        <div class="header-logo">
            <a href="http://localhost:5000/"><img alt="logo" src="/static/logo.png"></a>
        </div>
        <form action="" method="get" class="header-search">
            <div class="search">
            <input type="search" name="search" placeholder="Искать сотрудника, новости, прочее...">
            <button type="submit" class="material-icons"><img src="static/search_icon.png" style="max-width: 24px;"></button>
            </div>
        </form>
        <div class="header-menu">
            <ul class="ul-base">
            <li><button class="feedback-button">Обратная связь</button></li>
            <li class="login-button"><a href="#" onclick="Login()">Login</a></li>
            <li><div class="profile" onclick="Logout()"><div class="avatar"></div><span class="profile-name">UserName</span></div></li>
            <li><div class="help-button-bg"><button class="help-button">?</button></div></li>
            </ul>
        </div>
        </div>
    </header>
    <nav class="menu">
        <div class="sidebar">
            <ul class="ul-base">
                <li><a href="#" onclick="loadIndexPage()"><img src="static/menu/main.png" alt="">Главная</a></li>
                <li><a href="#" onclick="loadIndexPage()"><img src="static/menu/news.png" alt="">Новости</a></li>
                <li><a href="#" onclick="loadIndexPage()"><img src="static/menu/staff.png" alt="">Сотрудники</a></li>
                <li class="has-submenu">
                    <div class="structure-title">
                        <a href="#" onclick="loadStructurePage()"><img src="static/menu/structure.png" alt="">Структура компании</a>
                        <img onclick="toggleSubMenu(this)" src="static/menu/arrow_down.png" alt="" style="max-width: 30px;margin-left: 5px;margin-top: 15px;">
                        <img class="settings-icon" src="static/menu/settings.png" alt="Settings" onclick="openDepartmentModal()" style="max-width: 20px; margin-left: 5px;">
                    </div>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <div>
                                <a href="#">Умный микроклимат</a>
                                <img onclick="toggleSubMenu(this)" src="static/menu/arrow_down.png" alt="" style="max-width: 30px;margin-left: 5px;margin-top: 15px;">
                            </div>
                            <ul class="submenu" id="umDepartments">
                                <!-- Сюда будут динамически добавляться отделы -->
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <div>
                                <a href="#">Аэросервис</a>
                                <img onclick="toggleSubMenu(this)" src="static/menu/arrow_down.png" alt="" style="max-width: 30px;margin-left: 5px;margin-top: 15px;">
                            </div>
                            <ul class="submenu" id="asDepartments">
                                <!-- Сюда будут динамически добавляться отделы -->
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <div>
                                <a href="#">ХК Тион</a>
                                <img onclick="toggleSubMenu(this)" src="static/menu/arrow_down.png" alt="" style="max-width: 30px;margin-left: 5px;margin-top: 15px;">
                            </div>
                            <ul class="submenu" id="hkDepartments">
                                <!-- Сюда будут динамически добавляться отделы -->
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <div>
                                <a href="#">Инжиниринг</a>
                                <img onclick="toggleSubMenu(this)" src="static/menu/arrow_down.png" alt="" style="max-width: 30px;margin-left: 5px;margin-top: 15px;">
                            </div>
                            <ul class="submenu" id="injDepartments">
                                <!-- Сюда будут динамически добавляться отделы -->
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#" onclick="loadIndexPage()"><img src="static/menu/documents.png" alt="">Документы</a></li>
                <li><a href="#" onclick="loadIndexPage()"><img src="static/menu/account.png" alt="">Личный кабинет</a></li>
                <!-- Добавить другие пункты меню при необходимости -->
            </ul>
        </div>
    </nav>
    <main role="main">
        <div style="display: flex;"> 

        <div class="iframe-container">
            <!-- Контейнер для iframe -->
            <iframe id="content-iframe" src="" frameborder="0"></iframe>
        </div>

        <div class="content">
            <div class="banners-slider">
                <div class="itc-slider" data-slider="itc-slider">
                    <div class="itc-slider-wrapper">
                        <div class="itc-slider-items">
                            <div class="itc-slider-item">
                                <img src="static/slide-1.png" alt="">
                                <div class="slide1-text">
                                    Хотите быть в курсе наших разработок и новостей?
                                    <button>
                                        УЗНАТЬ БОЛЬШЕ
                                    </button>
                                </div>
                            </div>
                            <div class="itc-slider-item">
                                <img src="static/slide-1.png" alt="">
                            </div>
                            <div class="itc-slider-item">
                                <img src="static/slide-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="itc-slider-btn itc-slider-btn-prev"></button>
                    <button class="itc-slider-btn itc-slider-btn-next"></button>
                    <ol class="itc-slider-indicators">
                        <!-- data-slide-to="0" – для перехода к 1 слайду -->
                        <li class="itc-slider-indicator" data-slide-to="0"></li>
                        <!-- data-slide-to="1" – для перехода к 2 слайду -->
                        <li class="itc-slider-indicator" data-slide-to="1"></li>
                        <!-- data-slide-to="2" – для перехода к 3 слайду -->
                        <li class="itc-slider-indicator" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
            <div class="banners-static">
                <div class="banner1">
                    <h1>Бронирование переговорной</h1>
                    <span>Проверьте наличие свободных переговорных комнат</span>
                    <img src="static/menu/icon-door.png" alt="">
                </div>
                <div class="banner2">
                    <h1>Запрос в техническую поддержку</h1>
                    <span>Ответим на все ваши вопросы</span>
                    <img src="static/menu/icon-support.png" alt="">
                </div>
                <div class="banner3">
                    <h1>Курьер</h1>
                    <span>Быстро оформите заказ на доставку</span>
                    <img src="static/menu/icon-run.png" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="news">
            <div style="display: flex;justify-content: space-between;max-width: 1400px;">
                <div style="display: flex;align-items: center;">
                    <h2 style="color: #002F55;margin-right: 20px;">Новости</h2>
                    <span class="more_news_span">
                        <img src="static/more_news_icon.png" alt="">
                        <h2>БОЛЬШЕ НОВОСТЕЙ</h2>
                    </span>
                </div>
                <button id="add-news-button">Добавить новость</button>
            </div>
            <div style="display: flex;">
                <div class="news-container" id="news-container">
                    <!-- Новости будут динамически добавлены сюда -->
                </div>
            </div>
        </div>
        <div>
            Test test
        </div>
        <footer></footer><!-- @end footer -->
        <!-- Popup окно для добавления новости -->
        <div class="overlay" id="overlay"></div>
        <div class="popup" id="popup">
            <h2>Добавить новость</h2>
            <form id="add-news-form">
                <div>
                    <label for="image">Картинка:</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div>
                    <label for="title">Заголовок:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <label for="content">Текст новости:</label>
                    <textarea id="content" name="content" required></textarea>
                </div>
                <div>
                    <button type="submit">Добавить</button>
                    <button type="button" id="cancel-button">Отмена</button>
                </div>
            </form>
        </div>
        <!-- Модальное окно для выбора человека -->
        <div id="settingsModal" class="popup" style="display:none;">
            <div class="modal-content">
                <span class="close" onclick="closeSettingsModal()">&times;</span>
                <h2>Выберите руководителя направления</h2>
                <select id="employeeSelect">
                    <!-- Список сотрудников будет подгружаться динамически -->
                </select>
                <button id="saveEmployeeButton" onclick="saveEmployee()" data-department="">Сохранить</button>
            </div>
        </div>
        <!-- Модальное окно для добавления отделов -->
        <div id="departmentModal" class="popup">
            <div class="modal-content">
                <span class="close" onclick="closeDepartmentModal()">&times;</span>
                <h2>Управление отделами</h2>
        
                <label for="newDepartment">Добавить новый отдел:</label>
                <input type="text" id="newDepartment" placeholder="Название отдела">
                <input type="text" id="newDepartmentTag" placeholder="Тэг отдела">
                <label for="newDepartmentOrg">Организация:</label>
                <select id="newDepartmentOrg">
                    <option value="УМ">УМ</option>
                    <option value="АС">АС</option>
                    <option value="ХК">ХК</option>
                    <option value="ИНЖ">ИНЖ</option>
                </select>
                <button onclick="addDepartment()">Добавить</button>
        
                <h3>Существующие отделы:</h3>
                <div>
                    <h4>Умный микроклимат</h4>
                    <ul class="departmentList" id="umDepartmentList"></ul>
                    <h4>Аэросервис</h4>
                    <ul class="departmentList" id="asDepartmentList"></ul>
                    <h4>ХК Тион</h4>
                    <ul class="departmentList" id="hkDepartmentList"></ul>
                    <h4>Инжиниринг</h4>
                    <ul class="departmentList" id="injDepartmentList"></ul>
                </div>
            </div>
        </div>
        
    </main>

    <!-- Scripts -->
    <script>    
        // Функция для загрузки index.html в iframe
        function loadIndexPage() {
            document.getElementById('content-iframe').src = '';
            document.querySelector('.iframe-container').style.display = 'none';
            document.querySelector('.content').style.display = 'flex';
            document.querySelector('.news').style.display = 'block';
        }
        function loadStructurePage(company, department) {
            // Проверяем, переданы ли параметры company и department
            let url = 'home.html';
            if (company && department) {
                // Если оба параметра переданы, формируем URL с ними
                url += `?company=${encodeURIComponent(company)}&department=${encodeURIComponent(department)}`;
            } else if (company) {
                url += `?company=${encodeURIComponent(company)}`;
            }
            
            // Отображаем iframe и скрываем другие элементы
            document.querySelector('.iframe-container').style.display = 'block';
            document.querySelector('.content').style.display = 'none';
            document.querySelector('.news').style.display = 'none';
            
            // Устанавливаем src для iframe
            document.getElementById('content-iframe').src = url;
        }
        loadIndexPage();
    </script>
    <script>
        function openDepartmentModal() {
            document.getElementById('departmentModal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            loadDepartments(); // Загрузить текущие отделы
        }
        function closeDepartmentModal() {
            document.getElementById('departmentModal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
        function loadDepartments() {
            fetch('/api/departments')
                .then(response => response.json())
                .then(data => {
                    // Очищаем списки для каждой организации
                    const umDepartmentList = document.getElementById('umDepartmentList');
                    const asDepartmentList = document.getElementById('asDepartmentList');
                    const hkDepartmentList = document.getElementById('hkDepartmentList');
                    const injDepartmentList = document.getElementById('injDepartmentList');

                    umDepartmentList.innerHTML = '';
                    asDepartmentList.innerHTML = '';
                    hkDepartmentList.innerHTML = '';
                    injDepartmentList.innerHTML = '';

                    // Группируем отделы по организациям
                    data.forEach(department => {
                        const li = document.createElement('li');
                        li.textContent = `${department.name} (${department.department}, ${department.orgname})`;

                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Удалить';
                        deleteButton.onclick = () => deleteDepartment(department.id);

                        li.appendChild(deleteButton);

                        // Добавляем отделы в соответствующие списки в зависимости от организации
                        switch (department.orgname) {
                            case 'УМ':
                                umDepartmentList.appendChild(li);
                                break;
                            case 'АС':
                                asDepartmentList.appendChild(li);
                                break;
                            case 'ХК':
                                hkDepartmentList.appendChild(li);
                                break;
                            case 'ИНЖ':
                                injDepartmentList.appendChild(li);
                                break;
                            default:
                                console.warn(`Неизвестная организация: ${department.orgname}`);
                        }
                    });
                })
                .catch(error => console.error('Ошибка загрузки отделов:', error));
        }
        function addDepartment() {
            const departmentName = document.getElementById('newDepartment').value;
            const departmentTag = document.getElementById('newDepartmentTag').value;
            const departmentOrg = document.getElementById('newDepartmentOrg').value;

            fetch('/api/departments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: departmentName,
                    tag: departmentTag,
                    organization: departmentOrg
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    loadDepartments(); // Перезагрузить список отделов
                    document.getElementById('newDepartment').value = ''; // Очистить поле ввода
                    document.getElementById('newDepartmentTag').value = ''; // Очистить поле для тега
                } else {
                    alert('Ошибка при добавлении отдела.');
                }
            });
        }

        function deleteDepartment(departmentId) {
            fetch(`/api/departments/${departmentId}`, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    loadDepartments(); // Перезагрузить список отделов
                } else {
                    alert('Ошибка при удалении отдела.');
                }
            });
        }
        function openSettingsModal(element) {
            const department = element.getAttribute('data-department'); // Получаем значение data-department
            console.log(department); // Выводим в консоль для проверки
            // Открываем модальное окно
            document.getElementById('settingsModal').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
            // Сохраняем отдел в кнопке сохранения
            const saveButton = document.getElementById('saveEmployeeButton');
            saveButton.setAttribute('data-department', department);
            // Загрузка сотрудников
            loadEmployees();
        }

        function closeSettingsModal() {
            document.getElementById('settingsModal').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        function loadEmployees() {
            // AJAX-запрос к Flask для получения списка сотрудников
            fetch(`/api/employees`)
                .then(response => response.json())
                .then(data => {
                    // Сортировка сотрудников по фамилии
                    data.sort((a, b) => a.lastname.localeCompare(b.lastname));
                    
                    const select = document.getElementById('employeeSelect');
                    select.innerHTML = ''; // Очистка старых значений

                    data.forEach(employee => {
                        const option = document.createElement('option');
                        option.value = `${employee.lastname} ${employee.firstname}`;
                        option.textContent = `${employee.lastname} ${employee.firstname}`;
                        select.appendChild(option);
                    });
                });
        }

        // Вызов функции при загрузке страницы или по необходимости
        document.addEventListener('DOMContentLoaded', () => {
            loadEmployees();
            
            // Инициализация поиска по тексту в select (с использованием Select2)
            $('#employeeSelect').select2({
                placeholder: "Выберите сотрудника",
                allowClear: true
            });
        });


        function saveEmployee() {
            const manager = document.getElementById('employeeSelect').value;
            const department = document.getElementById('saveEmployeeButton').getAttribute('data-department');

            fetch('/api/save_employee', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ department: department, manager: manager }),
            }).then(response => {
                if (response.ok) {
                    alert('Сотрудник успешно сохранён');
                    closeSettingsModal();
                } else {
                    alert('Ошибка при сохранении');
                }
            });
        }
    </script>
    <script>
        function loadDepartmentsMenu() {
            fetch('/api/departments')
                .then(response => response.json())
                .then(data => {
                    const orgUM = document.getElementById('umDepartments');
                    const orgAS = document.getElementById('asDepartments');
                    const orgHK = document.getElementById('hkDepartments');
                    const orgINJ = document.getElementById('injDepartments');
                    
                    // Очищаем предыдущие данные
                    orgUM.innerHTML = '';
                    orgAS.innerHTML = '';
                    orgHK.innerHTML = '';
                    orgINJ.innerHTML = '';

                    data.forEach(department => {
                        const li = document.createElement('li');
                        const div = document.createElement('div');
                        div.classList.add('menu-item');
                        const a = document.createElement('a');
                        a.href = '#';
                        a.textContent = department.name;
                        a.onclick = () => loadStructurePage(department.orgname, department.department);
                        
                        const settingsIcon = document.createElement('img');
                        settingsIcon.src = 'static/menu/settings.png';
                        settingsIcon.classList.add('settings-icon');
                        settingsIcon.style.maxWidth = '20px';
                        settingsIcon.style.marginLeft = '5px';
                        settingsIcon.dataset.department = department.department;
                        settingsIcon.onclick = () => openSettingsModal(settingsIcon);
                        
                        div.appendChild(a);
                        div.appendChild(settingsIcon);
                        li.appendChild(div);

                        // Добавляем отдел в нужную организацию
                        switch (department.orgname) {
                            case 'УМ':
                                orgUM.appendChild(li);
                                break;
                            case 'АС':
                                orgAS.appendChild(li);
                                break;
                            case 'ХК':
                                orgHK.appendChild(li);
                                break;
                            case 'ИНЖ':
                                orgINJ.appendChild(li);
                                break;
                        }
                    });
                })
                .catch(error => console.error('Ошибка загрузки отделов:', error));
        }

        // Загружаем отделы при загрузке страницы
        document.addEventListener('DOMContentLoaded', loadDepartmentsMenu);
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Загрузка новостей
            fetch('/api/news')
                .then(response => response.json())
                .then(data => {
                    const newsContainer = document.getElementById('news-container');
                    data.news.forEach(article => {
                        if (article.image_url && article.title && article.content && article.created_at) {
                            const newsCard = document.createElement('div');
                            newsCard.className = 'news-card';
                            const createdDate = new Date(article.created_at).toLocaleDateString();
                            const contentPreview = article.content.substring(0, 100);

                            newsCard.innerHTML = `
                            <div class="card">
                                <div class="card__header">
                                    <img src="${article.image_url}" alt="card__image" class="card__image" width="600">
                                </div>
                                <div class="card__body">
                                    <h3>${article.title}</h3>
                                    <p>${contentPreview}...</p>
                                    <div class="news-meta">
                                        <div style="display: block">
                                            <small>${createdDate}</small>
                                        </div>
                                        <div style="display: flex;align-items: center;">
                                            <small>${article.likes}</small><img src="/static/like_icon.png" style="max-width: 20px;margin-left: 5px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;
                            newsContainer.appendChild(newsCard);
                        } else {
                            console.error('ERROR: Пропущены данные новости:', article);
                        }
                    });
                });
                //document.getElementById('add-news-button').style.display = 'block';
            const addButton = document.getElementById('add-news-button');
            const popup = document.getElementById('popup');
            const overlay = document.getElementById('overlay');
            const cancelButton = document.getElementById('cancel-button');
            const form = document.getElementById('add-news-form');

            addButton.addEventListener('click', function() {
                popup.style.display = 'block';
                overlay.style.display = 'block';
            });

            cancelButton.addEventListener('click', function() {
                popup.style.display = 'none';
                overlay.style.display = 'none';
            });

            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const formData = new FormData(form);

                // Добавляем текущую дату
                const now = new Date();
                formData.append('created_at', now.toISOString().split('T')[0]); // Только дата в формате YYYY-MM-DD

                fetch('/api/add_news', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Ошибка при добавлении новости');
                    }
                })
                .then(data => {
                    location.reload(); // Перезагружаем страницу для отображения новой новости
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
            });
        });
    </script>
    <script>
        function toggleSubMenu(element) {
            var parentDiv = element.parentElement; // Получаем родительский <div>
            var submenu = parentDiv.nextElementSibling; // Подменю находится после родительского <div>

            if (submenu.style.display === "block") {
                submenu.style.display = "none";
                element.style.transform = "rotate(0deg)"; // Возвращаем стрелку в исходное положение
            } else {
                submenu.style.display = "block";
                element.style.transform = "rotate(180deg)"; // Поворачиваем стрелку
            }
        }
    </script>
</body>
</html>
